* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    margin: 0;
    background-color: #0C0D0D;
    color: #fff;
    display: flex;
    flex-direction: column;
}

p{
    font-size: 18px;
    padding-bottom:15px ;
}

h2{
    font-size: 30px;
}


header {
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo h1 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 34px;
    color: white;
}

.logo h1 img {
    position: relative;
    top: -3px; 
}

.generos {
    position: absolute;
    top: 40px;
    left: 300px;
}

.generos_btn {
    background-color: #262626; 
    border: none;
    color: #DDE6ED;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.menu_generos {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #262626;
    padding: 30px;
    border-radius: 15px;
    display: none;
}

.coluna {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px
}

.menu_generos a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu_generos a:hover {
  color: black;
}

.menu_generos.ativo {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search {
    background-color: #9DB2BF;
    width: 250px;
    height: 26px;
    border: none;
    border-radius: 100px;
    padding: 0 25px;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 17px;
}

.perfil {
    border-radius: 50%;
}

main{
    padding: 150px 300px;
}

.nome_filme{
    background-color: #798992;
    padding: 50px 15px 15px 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: #DDE6ED solid 2px;
    border-radius: 3px;
    height: 138px;
}

.descriçao{
    background-color: #404345;
    color: #fff;
    padding: 35px;
    border-radius: 3px;
    height: 310px;
    line-height: 1.5;
}

.img{
    height: 500px;
    border: #DDE6ED solid 2px;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
}

.avaliaçao{
    clear: both;
    padding-left: 18px;
    padding-top: 10px;
}

.estrela{
    padding: 0 4px;
}

.button{
    width: 430PX;
    height: 62px;
    color: #fff;
    background-color: #27374D;
    border-radius: 5px;
    border: #DDE6ED solid 2px;
    font-size: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3 ease;
}

.botao{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button:hover{
    transform: scale(1.08);
}

.footer{
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

@media(max-width:1720px) and (min-width:1600px){

    main{
        padding: 150px 240px;
    }

    .nome_filme{
        padding: 35px 12px 12px 12px;
        margin-bottom: 18px;
        margin-top: 18px;
        height: 110px;
    }

    .descriçao{
        padding: 35px;
        height: 325px;
    }

    .button{
        width: 425PX;
        height: 60px;
        font-size: 48px;
    }

    p{
        font-size: 16px;
    }
}

@media(max-width:1600px) and (min-width:1024px){

    main{
        padding: 150px 200px;
    }

    .nome_filme{
        padding: 35px 12px 12px 12px;
        margin-bottom: 18px;
        margin-top: 18px;
        height: 110px;
    }

    .descriçao{
        padding: 20px;
        height: 330px;
    }

    .button{
        width: 425PX;
        height: 60px;
        font-size: 48px;
    }

    p{
        font-size: 14px;
    }
}

/*768px*/
@media(max-width:1024px){

    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
    }

    .logo h1 {
        font-size: 40px;
    }

    .logo img {
        width: 60px;
    }

    .generos {
        position: relative;
        top: -5px;
        left: -10px;
    }

    .menu_generos {
        position: absolute;
        top: calc(100% + 12px);
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    .menu_generos.ativo {
        display: flex;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    .search {
        margin: 0;
    }

    .perfil {
        position: absolute;
        right: 15px;
    }

    main{
        display: flex;
        padding: 50px 100px;
        flex-direction: column;
        align-items: center;
    }

    .img{
        height: 500px;
        width: 400px;
        margin: 0;
        float: none;
    }

    .nome_filme{
        display: flex;
        justify-content: center;
        padding: 26px 10px 10px 10px;
        height: 95px;
        width: 400px;
    }

    p{
        font-size: 15px;
        padding-bottom:12px ;
    }

    h2{
        font-size: 22px;
    }

    .descriçao{
        padding: 30px;
        height: 520px;
        width: 400px;
        line-height: 1.5;
    }

    .button{
        width: 350PX;
        height: 52px;
        font-size: 30px;
    }

    .avaliaçao{
        clear:none;
        padding-left: 0;
        padding-top: 12px;
    }

    .estrela{
        height: 33px;
    }
}

/*436px*/

@media(max-width:436px){
    header {
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo h1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .generos {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .menu_generos {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .menu_generos a {
        font-size: 20px;
    }

    .coluna {
        width: 100%;
        margin: 0;
    }

    .coluna:first-child {
        margin-bottom: 15px;
    }

    nav {
        width: 100%;
        position: relative;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
    }

    .search {
        width: 75%;
        max-width: 260px;
    }

    .perfil {
        position: relative;
        right: 3px;
    }

    main{
        display: flex;
        padding: 25px 50px;
        flex-direction: column;
        align-items: center;
    }

    .img{
        height: 400px;
        width: 300px;
        margin: 0;
        float: none;
    }

    .nome_filme{
        display: flex;
        justify-content: center;
        padding: 26px 10px 10px 10px;
        height: 80px;
        width: 300px;
    }

    p{
        font-size: 12px;
        padding-bottom:12px ;
    }

    h2{
        font-size: 20px;
    }

    .descriçao{
        padding: 30px;
        height: 420px;
        width: 300px;
        line-height: 1.5;
    }

    .button{
        width: 250PX;
        height: 42px;
        font-size: 25px;
    }

    .avaliaçao{
        clear:none;
        padding-left: 0;
        padding-top: 12px;
    }

    .estrela{
        height: 32px;
    }
}